:root {
    --main-color: #3B44F6;
    --white-color: #fff;
    --line-color: #32323D;
}

body {
    font-family: "Lexend", sans-serif;
    background-color: #000;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* header */
.header--inner {
    display: flex;
    padding: 25px;
    justify-content: space-between;
}

/* logo */
.logo__item {
    font-weight: 700;
    font-size: 28px;
    color: var(--main-color);
}

.navigation {
    padding: 8px;
}

.navigation__list {
    display: flex;
}

.nav__item {
    margin-right: 30px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-weight: 400;
    font-size: 18px;
    color: var(--white-color);
    transition: 0.2s ease;
}

.nav__link:hover {
    color: var(--main-color);
}

.button__item {
    height: 38px;
    width: 90px;
    border: none;
    border-radius: 8px;
    background-color: var(--main-color);
    margin-right: 16px;
    transition: 0.3s ease;
}

.button__item:last-child {
    margin-right: 0;
}

.button__item span {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 144%;
    color: var(--white-color);
}

.sign-in {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.sign-in:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.sign-up:hover {
    background-color: transparent;
    border: 1px solid var(--white-color);
}

.sign-in:active {
    transform: scale(0.97);
}

.sign-up:active {
    transform: scale(0.97);
}

/* head__line */
.head__line {
    margin: 0 auto;
    height: 1px;
    width: 1920px;
    background-color: var(--line-color);
}

/* main */
